* {
  padding: 0;
  margin: 0;
  list-style: none; }

body {
  height: 2000px; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.bread {
  color: #aaa; }
  .bread span {
    color: #aaa; }
  .bread a {
    color: #aaa; }

.title {
  display: block;
  margin: 20px auto; }

.img-thumbnail {
  border: 0;
  margin-bottom: 10px; }

.col-xs-12 > p {
  margin: 10px 0;
  font-size: 14px;
  line-height: 20px;
  color: red; }
